/**
 * Floating Area
 */

.floatingArea {
  position: sticky;
  top: calc(100% - 6.75rem);
  left: 0;
  right: 0;
  z-index: 900;
  margin: auto;

  &__banners {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__banner {
    &:nth-child(1) {
      width: 17rem;
    }

    &:nth-child(2), &:nth-child(3) {
      width: 15rem;
    }
  }
}
