/**
 * Intro
 */

$bgHeight: min(calc(25vw + 6.75rem), calc(13.5rem + 6.75rem));

.intro {
  margin-top: -6.75rem;

  &__head {
    height: $bgHeight;
    padding-top: 6.75rem;
    background: url(./assets/flame00.jpg) no-repeat 50% 50% / cover scroll;
  }

  &__heading {
    width: min(100%, 54rem);
    margin: 0 auto;
  }

  &__body {
    background-color: $primary;
  }

  &__container {
    @extend %__inner;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  &__featureIcons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 43.2rem;
  }

  &__featureIcon {
    flex: 0 1 33.33%;
  }

  &__textContent {
    flex: 1 1 28.8rem;
    color: $bodyBg;
  }

  &__textContentBox {
    width: min(100%, 43.2rem);
    margin: 0 auto;
  }

  &__lead {
    font-size: 2rem;
  }

  &__foot {
    height: $bgHeight;
    background: url(./assets/flame01.jpg) no-repeat 50% 50% / cover scroll;
  }
}
