/**
 * Works
 */

$worksBgHeight:  min(36vw, 19.44rem); // 54rem * 0.36

.works {
  margin-top: -3rem;

  &__head {
    height: $worksBgHeight;
    background: url(./assets/flame00.png) no-repeat 50% 50% / cover scroll;
  }

  &__heading {
    width: min(100%, 54rem);
    margin: 0 auto;
  }

  &__body {
    padding-bottom: 0.75rem;
    background-color: #fba310;
  }

  &__item {
    width: min(86.4vw, 28.8rem); // 2.4vw = 0.8rem
    height: min(115.2vw, 38.4rem); // 3 : 4 縦長比
    padding: min(4.8vw, 1.6rem);
    background-color: $bodyBg;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.15);
  }

  &__title {
    margin: 0 0 1.5rem;
    color: #08186e;
    font-weight: 700;
    font-size: min(3.6vw, 1.2rem);
    line-height: 2;
  }

  &__label {
    width: min(21.6vw, 7.2rem);
    margin-left: -0.75rem;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__before {
    flex: 0 0 36%;

    & > h5 {
      display: inline-block;
      margin: 0 0 0.375rem;
      padding: 0 0.75rem;
      background-color: $activeColor;
      color: $white;
    }

    & > div {
      height: min(28.8vw, 9.6rem);
      background-color: #cccccc;
    }
  }

  &__after {
    flex: 0 0 48%;

    & > h5 {
      display: inline-block;
      margin: 0 0 0.375rem;
      padding: 0 0.75rem;
      background-color: $primary;
      color: $white;
    }

    & > div {
      height: min(38.4vw, 12.8rem);
      background-color: $activeColor;
    }
  }

  &__chevron {
    flex: 0 0 6%;
    align-self: center;
  }

  &__content {
    margin-top: 1.5rem;

    th, td {
      padding: 0.375rem;
      font-weight: 700;
    }

    span {
      color: $primary;
      font-size: 2em;
    }

    @media (min-width: $breakpointSm) {
      font-size: min(3vw, 1rem);
    }
  }

  @media (max-width: $breakpointSm - 0.1) {
    &__place, &__construct {
      display: none;
    }
  }

  &__description {
    font-size: min(2.4vw, 0.8rem);
  }

  &__foot {
    position: relative;
    z-index: 1;
    height: $worksBgHeight;
    margin-bottom: -6.75rem;
    background: url(./assets/flame01.png) no-repeat 50% 50% / cover scroll;
  }
}
