@charset "UTF-8";
/**
 * Normarize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 599.9px) {
  html {
    font-size: 3.84vw;
  }
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Section
 */
.header__inner {
  width: min(100%, 75rem);
  margin: auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);
}

/**
 * Header
 */
.header {
  padding: 0.75rem 0;
}
.header__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header__sitebrand {
  width: 12rem;
  margin: 0;
}
.header__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 54rem;
  margin: 0;
}
.header__primaryMenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__primaryMenuItem {
  font-weight: 700;
}
.header__primaryMenuItem a {
  color: #333333;
}
.header__primaryMenuItem a:hover {
  color: #666666;
}
.header__tel {
  width: 15rem;
}

/**
 * Main Visual
 */
.mainVisual {
  width: min(100%, 63rem);
  margin: 2.25rem auto;
}

/**
 * Floating Area
 */
.floatingArea {
  position: sticky;
  top: calc(100% - 6.75rem);
  left: 0;
  right: 0;
  margin: auto;
}
.floatingArea__banners {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.floatingArea__banner:nth-child(1) {
  width: 17rem;
}
.floatingArea__banner:nth-child(2), .floatingArea__banner:nth-child(3) {
  width: 15rem;
}